Fri Mar  6 12:09:43 HKT 2015



Sat Mar  7 01:37:02 HKT 2015
sydney
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Vodafone Hutchison Australia (NN) (Sydney) [7372.57 km]: 15.736 ms
Testing download speed...................
Sat Mar  7 01:37:29 HKT 2015
Shenzhen



Sat Mar  7 01:37:36 HKT 2015
sydney
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Vodafone Hutchison Australia (NN) (Sydney) [7372.57 km]: 16.53 ms
Testing download speed........................Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by CMCC-SZ (Shenzhen) [27.85 km]: 3600000000.0 ms
Testing download speed........................................
Download: 0.00 Mbit/s
Testing upload speed..................................................
Upload: 0.00 Mbit/s
Share results: http://www.speedtest.net/result/0.png

Sat Mar  7 01:37:47 HKT 2015
Hong Kong
................
Download: 34.97 Mbit/s
Testing upload speed.................Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by FPT Telecom (Hong Kong) [1.06 km]: 12.716 ms
Testing download speed..........................................................
Upload: 12.24 Mbit/s
Share results: http://www.speedtest.net/result/4193947521.png

Sat Mar  7 01:38:18 HKT 2015
Shenzhen
.......Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by CMCC-SZ (Shenzhen) [27.85 km]: 3600000000.0 ms
Testing download speed........................................
Download: 0.00 Mbit/s
Testing upload speed....................
Download: 43.07 Mbit/s
Testing upload speed..............................................
Upload: 0.00 Mbit/s
Share results: http://www.speedtest.net/result/0.png

Sat Mar  7 01:38:25 HKT 2015
Hong Kong
...........................Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by FPT Telecom (Hong Kong) [1.06 km]: 8.265 ms
Testing download speed........................................
Upload: 16.90 Mbit/s
Share results: http://www.speedtest.net/result/4193948301.png

Sat Mar  7 01:38:37 HKT 2015
Taipei
...............
Download: 44.23 Mbit/s
Testing upload speed..................................................
Upload: 18.89 Mbit/s
Share results: http://www.speedtest.net/result/4193949183.png

Sat Mar  7 01:38:58 HKT 2015
Taipei
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Taiwan Star Telecom Co., Ltd. (New Taipei) [802.48 km]: 11.683 ms
Testing download speed..................Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Taiwan Star Telecom Co., Ltd. (New Taipei) [802.48 km]: 11.365 ms
Testing download speed...................................

Sat Mar  7 01:40:20 HKT 2015
United Kingdom
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by TreudlerGroup UK (London) [9625.15 km]: 12.557 ms
Testing download speed........................................
Download: 13.54 Mbit/s
Testing upload speed..................................................
Upload: 6.48 Mbit/s
Share results: http://www.speedtest.net/result/4193954569.png

Sat Mar  7 01:41:13 HKT 2015
Canada
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Northwestel Inc. (Whitehorse, YT) [8919.13 km]: 15.1 ms
Testing download speed........................................
Download: 6.70 Mbit/s
Testing upload speed..................................................
Upload: 4.15 Mbit/s
Share results: http://www.speedtest.net/result/4193957483.png

Sat Mar  7 01:42:26 HKT 2015
New York
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Optimum Online (New York City, NY) [12959.46 km]: 13.034 ms
Testing download speed....................

Sat Mar  7 09:36:44 HKT 2015
==Sydney==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Digital Pacific (Sydney) [7372.57 km]: 14.861 ms
Testing download speed................


Sat Mar  7 02:15:42 UTC 2015
==Sydney==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Digital Pacific (Sydney) [7372.57 km]: 18.358 ms
Testing download speed........................................
Download: 40.68 Mbit/s
Testing upload speed..................................................
Upload: 12.87 Mbit/s
Share results: http://www.speedtest.net/result/4194898865.png

Sat Mar  7 02:16:35 UTC 2015
==Shenzhen==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by ShenZhen Telecom (Shenzhen) [30.10 km]: 16.689 ms
Testing download speed........................................
Download: 30.90 Mbit/s
Testing upload speed..................................................
Upload: 13.03 Mbit/s
Share results: http://www.speedtest.net/result/4194899583.png

Sat Mar  7 02:17:10 UTC 2015
==Hong Kong==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by STC (Hong Kong) [1.06 km]: 10.331 ms
Testing download speed........................................
Download: 71.87 Mbit/s
Testing upload speed..................................................
Upload: 48.40 Mbit/s
Share results: http://www.speedtest.net/result/4194900525.png

Sat Mar  7 02:17:54 UTC 2015
==Taipei==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Taiwan Fixed Network (New Taipei) [802.48 km]: 12.954 ms
Testing download speed........................................
Download: 70.72 Mbit/s
Testing upload speed..................................................
Upload: 34.32 Mbit/s
Share results: http://www.speedtest.net/result/4194901412.png

Sat Mar  7 02:18:37 UTC 2015
==United Kingdom==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by TreudlerGroup UK (London) [9625.15 km]: 13.034 ms
Testing download speed........................................
Download: 4.72 Mbit/s
Testing upload speed..................................................
Upload: 6.06 Mbit/s
Share results: http://www.speedtest.net/result/4194903268.png

Sat Mar  7 02:20:06 UTC 2015
==Canada==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Northwestel Inc. (Whitehorse, YT) [8919.13 km]: 12.398 ms
Testing download speed........................................
Download: 4.58 Mbit/s
Testing upload speed..................................................
Upload: 3.47 Mbit/s
Share results: http://www.speedtest.net/result/4194904530.png

Sat Mar  7 02:20:57 UTC 2015
==New York==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Inerail (New York City, NY) [12959.46 km]: 11.285 ms
Testing download speed........................................
Download: 9.81 Mbit/s
Testing upload speed..................................................
Upload: 9.93 Mbit/s
Share results: http://www.speedtest.net/result/4194906489.png



Sat Mar  7 02:22:34 UTC 2015
==Sydney==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Digital Pacific (Sydney) [7372.57 km]: 11.365 ms
Testing download speed........................................
Download: 33.58 Mbit/s
Testing upload speed..................................................
Upload: 12.61 Mbit/s
Share results: http://www.speedtest.net/result/4194907448.png

Sat Mar  7 02:23:17 UTC 2015
==Shenzhen==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by ShenZhen Telecom (Shenzhen) [30.10 km]: 9.696 ms
Testing download speed........................................
Download: 32.87 Mbit/s
Testing upload speed..................................................
Upload: 12.89 Mbit/s
Share results: http://www.speedtest.net/result/4194908153.png

Sat Mar  7 02:23:51 UTC 2015
==Hong Kong==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by STC (Hong Kong) [1.06 km]: 10.014 ms
Testing download speed........................................
Download: 72.44 Mbit/s
Testing upload speed..................................................
Upload: 49.39 Mbit/s
Share results: http://www.speedtest.net/result/4194908692.png

Sat Mar  7 02:24:17 UTC 2015
==Taipei==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Taiwan Fixed Network (New Taipei) [802.48 km]: 12.954 ms
Testing download speed........................................
Download: 70.05 Mbit/s
Testing upload speed..................................................
Upload: 35.13 Mbit/s
Share results: http://www.speedtest.net/result/4194909342.png

Sat Mar  7 02:24:47 UTC 2015
==United Kingdom==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by TreudlerGroup UK (London) [9625.15 km]: 14.702 ms
Testing download speed........................................
Download: 2.82 Mbit/s
Testing upload speed..................................................
Upload: 5.86 Mbit/s
Share results: http://www.speedtest.net/result/4194910271.png

Sat Mar  7 02:25:28 UTC 2015
==Canada==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Northwestel Inc. (Whitehorse, YT) [8919.13 km]: 14.067 ms
Testing download speed........................................
Download: 21.62 Mbit/s
Testing upload speed..................................................
Upload: 3.47 Mbit/s
Share results: http://www.speedtest.net/result/4194911202.png

Sat Mar  7 02:26:12 UTC 2015
==New York==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Inerail (New York City, NY) [12959.46 km]: 12.954 ms
Testing download speed........................................
Download: 10.52 Mbit/s
Testing upload speed..................................................
Upload: 9.81 Mbit/s
Share results: http://www.speedtest.net/result/4194912072.png



Sat Mar  7 02:26:57 UTC 2015
==Sydney==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Telstra (Sydney) [7372.57 km]: 14.623 ms
Testing download speed........................................
Download: 38.94 Mbit/s
Testing upload speed..................................................
Upload: 14.98 Mbit/s
Share results: http://www.speedtest.net/result/4194913233.png

Sat Mar  7 02:27:48 UTC 2015
==Shenzhen==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by ShenZhen Telecom (Shenzhen) [30.10 km]: 12.477 ms
Testing download speed........................................
Download: 44.23 Mbit/s
Testing upload speed..................................................
Upload: 10.74 Mbit/s
Share results: http://www.speedtest.net/result/4194914010.png

Sat Mar  7 02:28:26 UTC 2015
==Hong Kong==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by FPT Telecom (Hong Kong) [1.06 km]: 12.875 ms
Testing download speed........................................
Download: 45.03 Mbit/s
Testing upload speed..................................................
Upload: 18.98 Mbit/s
Share results: http://www.speedtest.net/result/4194914995.png

Sat Mar  7 02:29:12 UTC 2015
==Taipei==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Chief Telecom (New Taipei) [802.48 km]: 13.987 ms
Testing download speed........................................
Download: 72.46 Mbit/s
Testing upload speed..................................................
Upload: 20.47 Mbit/s
Share results: http://www.speedtest.net/result/4194915823.png

Sat Mar  7 02:29:53 UTC 2015
==United Kingdom==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by TreudlerGroup UK (London) [9625.15 km]: 13.034 ms
Testing download speed........................................
Download: 8.82 Mbit/s
Testing upload speed..................................................
Upload: 5.43 Mbit/s
Share results: http://www.speedtest.net/result/4194916564.png

Sat Mar  7 02:30:27 UTC 2015
==Canada==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Northwestel Inc. (Whitehorse, YT) [8919.13 km]: 17.325 ms
Testing download speed........................................
Download: 14.51 Mbit/s
Testing upload speed..................................................
Upload: 3.37 Mbit/s
Share results: http://www.speedtest.net/result/4194917776.png

Sat Mar  7 02:31:22 UTC 2015
==New York==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Atlantic Metro (New York City, NY) [12959.46 km]: 12.954 ms
Testing download speed........................................
Download: 11.36 Mbit/s
Testing upload speed..................................................
Upload: 10.02 Mbit/s
Share results: http://www.speedtest.net/result/4194919419.png



Sat Mar  7 02:32:43 UTC 2015
==Sydney==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Telstra (Sydney) [7372.57 km]: 12.08 ms
Testing download speed........................................
Download: 35.04 Mbit/s
Testing upload speed..................................................
Upload: 14.65 Mbit/s
Share results: http://www.speedtest.net/result/4194920353.png

Sat Mar  7 02:33:24 UTC 2015
==Shenzhen==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by ShenZhen Telecom (Shenzhen) [30.10 km]: 17.961 ms
Testing download speed.......................