Fri Mar  6 12:09:43 HKT 2015



Sat Mar  7 01:37:02 HKT 2015
sydney
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Vodafone Hutchison Australia (NN) (Sydney) [7372.57 km]: 15.736 ms
Testing download speed...................
Sat Mar  7 01:37:29 HKT 2015
Shenzhen



Sat Mar  7 01:37:36 HKT 2015
sydney
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Vodafone Hutchison Australia (NN) (Sydney) [7372.57 km]: 16.53 ms
Testing download speed........................Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by CMCC-SZ (Shenzhen) [27.85 km]: 3600000000.0 ms
Testing download speed........................................
Download: 0.00 Mbit/s
Testing upload speed..................................................
Upload: 0.00 Mbit/s
Share results: http://www.speedtest.net/result/0.png

Sat Mar  7 01:37:47 HKT 2015
Hong Kong
................
Download: 34.97 Mbit/s
Testing upload speed.................Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by FPT Telecom (Hong Kong) [1.06 km]: 12.716 ms
Testing download speed..........................................................
Upload: 12.24 Mbit/s
Share results: http://www.speedtest.net/result/4193947521.png

Sat Mar  7 01:38:18 HKT 2015
Shenzhen
.......Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by CMCC-SZ (Shenzhen) [27.85 km]: 3600000000.0 ms
Testing download speed........................................
Download: 0.00 Mbit/s
Testing upload speed....................
Download: 43.07 Mbit/s
Testing upload speed..............................................
Upload: 0.00 Mbit/s
Share results: http://www.speedtest.net/result/0.png

Sat Mar  7 01:38:25 HKT 2015
Hong Kong
...........................Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by FPT Telecom (Hong Kong) [1.06 km]: 8.265 ms
Testing download speed........................................
Upload: 16.90 Mbit/s
Share results: http://www.speedtest.net/result/4193948301.png

Sat Mar  7 01:38:37 HKT 2015
Taipei
...............
Download: 44.23 Mbit/s
Testing upload speed..................................................
Upload: 18.89 Mbit/s
Share results: http://www.speedtest.net/result/4193949183.png

Sat Mar  7 01:38:58 HKT 2015
Taipei
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Taiwan Star Telecom Co., Ltd. (New Taipei) [802.48 km]: 11.683 ms
Testing download speed..................Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Taiwan Star Telecom Co., Ltd. (New Taipei) [802.48 km]: 11.365 ms
Testing download speed...................................

Sat Mar  7 01:40:20 HKT 2015
United Kingdom
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by TreudlerGroup UK (London) [9625.15 km]: 12.557 ms
Testing download speed........................................
Download: 13.54 Mbit/s
Testing upload speed..................................................
Upload: 6.48 Mbit/s
Share results: http://www.speedtest.net/result/4193954569.png

Sat Mar  7 01:41:13 HKT 2015
Canada
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Northwestel Inc. (Whitehorse, YT) [8919.13 km]: 15.1 ms
Testing download speed........................................
Download: 6.70 Mbit/s
Testing upload speed..................................................
Upload: 4.15 Mbit/s
Share results: http://www.speedtest.net/result/4193957483.png

Sat Mar  7 01:42:26 HKT 2015
New York
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Optimum Online (New York City, NY) [12959.46 km]: 13.034 ms
Testing download speed....................

Sat Mar  7 09:36:44 HKT 2015
==Sydney==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Digital Pacific (Sydney) [7372.57 km]: 14.861 ms
Testing download speed................




Sat Mar  7 21:39:35 HKT 2015
==Sydney==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Internode (Sydney) [7372.57 km]: 3500.476 ms
Testing download speed........................................
Download: 47.83 Mbit/s
Testing upload speed..................................................
Upload: 15.58 Mbit/s
Share results: https://www.speedtest.net/result/4195884762.png

Sat Mar  7 21:40:27 HKT 2015
==Shenzhen==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by CMCC-SZ (Shenzhen) [27.85 km]: 18.762 ms
Testing download speed........................................
Download: 1.12 Mbit/s
Testing upload speed..................................................
Upload: 1.07 Mbit/s
Share results: https://www.speedtest.net/result/4195886213.png

Sat Mar  7 21:41:11 HKT 2015
==Hong Kong==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by STC (Hong Kong) [1.06 km]: 5.621 ms
Testing download speed........................................
Download: 69.51 Mbit/s
Testing upload speed..................................................
Upload: 44.54 Mbit/s
Share results: https://www.speedtest.net/result/4195887001.png

Sat Mar  7 21:41:35 HKT 2015
==Taipei==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Taiwan Fixed Network (New Taipei) [802.48 km]: 2528.919 ms
Testing download speed.......................

Sat Mar  7 21:43:46 HKT 2015
==New York==
Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from Hong Kong Broadband Network Ltd (59.148.83.178)...
Hosted by Inerail (New York City, NY) [12959.46 km]: 2859.811 ms
Testing download speed........